# Python byte-compiled
__pycache__/

# C compiled sources
*.o
*.so
dlx_m

# Editor specific files 
.vscode/

# Jupyter notebook
.ipynb_checkpoints/
.virtual_documents/
# Notebooks are saved with jupytext as markdown
*.ipynb

# Mypy cache files
.mypy_cache/

# Ruff cache files
.ruff_cache/

# Pyvis folders
lib/

# Experimentational things
experimentations/*.svg
experimentations/*.html
experimentations/img/
experimentations/random/