# Python byte-compiled
__pycache__/

# C compiled sources
*.o
*.so
dlx_m

# Editor specific files 
.vscode/

# Jupyter notebook
.ipynb_checkpoints/
.virtual_documents/

# Mypy files
.mypy_cache/

# Pyvis folders
lib/